*{
    margin: 0px;
    padding: 0px;
}

li {
    list-style-type: none;
    float: left;
    padding: 30px 20px;
}
li:hover {
    background-color: brown;
    font-weight: bold;
    font-size: 20px;
}

li a:hover {
    color: white;

}
header{
    width: auto;
    height: 80px;
    background-color: rgb(10, 218, 10);
    padding: 0 60px;
    display: flex;
    justify-content: space-between;
}

.header-right{
    font-size: 40px;
    font-weight: bold;
    padding: 20px;
    float: left;
}
body{
    background-image: url(NINJA650-BANNER_1.webp);
    background-size: cover;
}
.info {
    margin-top: 20px;
    color: white;
    text-align: center;
  }