*{
    margin: 0px;
    padding: 0px;
}

body{
    background-image: url(kucing.jpeg);
    background-size: cover;
}

.ok{
    color: black;
    text-align: center;
    padding-top: 100px;
    font-family: sans-serif;
}


.ok2 {
width: 50px;
height: 50px;
background-color: black;
margin-right: 100px;
padding-top: 35px;
margin-top: 100px;line-height: 0px;
line-height: 10px;
margin-right: 100px;
}
